<nav>
  <div id="div1" name="div1">    
    </div>

    <div id="div2" name="div2" >
    </div>

    <div id="div3" name="div3">
        <div id="div3_1" name="div3_1">
          <a href = '/'>Home</a>
        </div>
        <div id="div3_2" name="div3_2">
           <a href = '/roomViews/roomListing'>Room Listing</a>
           
        </div>
        <div id="div3_3" name="div3_4">
          <a href = '/roomViews/roomCreating'>Room Creation</a>
          
        </div>
         <div id="div3_4" name="div3_4">
          <a href = 'logout'>Log out</a>
          <br>
          <p>WELCOME {{userId.new_userName}}</p>
      </div>

    </div>
</nav>

<body>
<p>Welcome {{userid}} </p>
 <section id="hBanner">
    <div id="fContainer">

      <form id="hSearch" name="hForm">
        <h3> Find places to stay in Canada on PetBnB </h3>
        <br>
        <p>Discover entire homes and private rooms perfect for any trip.</p>
        <br>
        <label class="fLabel">WHERE?</label>
        <br>
        <input type="text" id="hfWhere" placeholder="Anywhere" class="sInputs">
        <br>
        <br>

        <div class="hCheck">
          <div  class="sDivs">
            <label class="fLabel">CHECK IN<label>
            <br>  
            <input type="date" id="hfDateIn" class="sInputs">
          </div>

          <div id="hCheck2" class="sDivs">
            <label class="fLabel">CHECK OUT</label>
            <br>
            <input type="date" id="hfDateOut" class="sInputs">
          </div>
        </div>

        <br>

        <div class="hCheck"> 
          <div  class="sDivs">
            <label class="fLabel">ADULTS</label>
            <br>
            <input type="number" class="sInputs">
          </div>

          <div class="sDivs">
            <label class="fLabel">CHILDREN</label>
            <br>
            <input type="number" class="sInputs">
          </div>
        </div>

          <br>
          <br>
          <input type="submit" id="fSubmit" value="Search" name="Search" class="sInputs">
       
      </form>

    </div>
  </section>
  <br>
  <!-- rooms-->
  <div class="titles">
    <p>Visit one of this beautiful places</p>
  </div>
  <section  class="row">

      <div id="s1_div1" class="column">
        <div id="divCont1" class="divCont">
           <img id="img1" class="img_responsive"src="../IMG/montreal.jpg" alt="Snow" >
           <div class="stars"> &#11088;&#11088;&#11088;&#11088;&#11088; </div>
              <div class="divTitle"><p>Montreal</p></div>
              <div class="divDescr"><p class="room_desc"> Live a cultural and gastronomic experience</p></div>
         </div>
      </div>

      <div id="s1_div2" class="column">
        <div id="divCont2" class="divCont">
          <img id="img2" class="img_responsive" src="../IMG/sask.jpg" alt="Forest" >
          <div class="stars"> &#11088;&#11088; </div>
              <div class="divTitle"><p>Saskatoon</p></div>
              <div class="divDescr"><p> Visit the Remain Modern Picasso Museum!</p></div>
          </div>
      </div>

      <div id="s1_div3" class="column">
        <div id="divCont3" class="divCont">
          <img id="img3" class="img_responsive" src="../IMG/vanc.jpg" alt="Mountains">
          <div class="stars"> &#11088;&#11088;&#11088;&#11088;&#11088; </div>
          <div class="divTitle"><p>Vancouver</p></div>
          <div class="divDescr"><p> Breathe the fresh air of Vancouver city</p></div> 
        </div>
      </div>

       <div id="s1_div4" class="column">
         <div id="divCont4" class="divCont">
          <img id="img4" class="img_responsive" src="../IMG/toronto.jpg" alt="Mountains">
          <div class="stars"> &#11088;&#11088;&#11088; </div>
            <div class="divTitle"><p>Toronto</p></div>
            <div class="divDescr"><p> Taste the flavor of an exciting city</p></div>
         </div>
      </div>
      
  </section>
  <br>

<!-- ADDS-->

 <section  class="row3">
    <div id="s3_div2" class="s3_column">
      <div id="s3_divCont2" class="s3_divCont">
        <img id="s3_img1" class="s3_img_responsive"src="../IMG/advertisement.jpg" alt="adds" >
        <div><p>Click here to know more about our grand opening!!</p></div>
      </div>
    </div>
 </section>
 <br>
<!-- MORE INFO-->
  <div class="titles">
    <p>Do you have a question?</p>
  </div>
  <section  class="row4">

    <div id="s4_div1" class="s4_column">
          <div id="s3_divCont1" class="s4_divCont">
            <div><h3>How do I book a Room?</h3></div>
            <br>
            <div><p>PetBnB is a platform that connects people 
                    and animals from around the world to incredible places to 
                    stay and interesting things to do. 
                    Whether an apartment for a night or a castle for 
                    a week. The Airbnb community aims to create a world where all 7.5 billion people can belong anywhere.</p>
            </div>
          </div>
    </div>

    <div id="s4_div2" class="s4_column">
          <div id="s4_divCont2" class="s4_divCont">
            <div><h3>Is it safe for my pet?</h3></div>
            <br>
            <div><p>PetBnB is a platform that connects people 
                    and animals from around the world to incredible places to 
                    stay and interesting things to do. 
                    Whether an apartment for a night or a castle for 
                    a week. The Airbnb community aims to create a world where all 7.5 billion people can belong anywhere.</p>
            </div>
          </div>
    </div>

    <div id="s4_div3" class="s4_column">
      <div id="s4_divCont3" class="s4_divCont">
          <div><h3>What is PetBnb?</h3></div>
          <br>
          <div><p>PetBnB is a platform that connects people 
                    and animals from around the world to incredible places to 
                    stay and interesting things to do. 
                    Whether an apartment for a night or a castle for 
                    a week. The Airbnb community aims to create a world where all 7.5 billion people can belong anywhere.</p>
          </div>
      </div>
    </div>  
  </section>
  <br>
<!--VIDEOS AND DESCRIPTION-->
<div class="titles">
    <p>Explore more with your pet!</p>
  </div>
<section class = "row2">

      <div id="s2_div1" class="s2_column">
        <div id="s2_divCont1" class="s2_divCont">
            <iframe id="hVideo" src="https://www.youtube.com/embed/Fbah6DT4SMk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div id="s2_div2" class="s2_column">
        <div id="s2_divCont2" class="s2_divCont">
          <div><h2>PETS ALLOWED!!!</h2></div>
            <div><p>Here’s a new way to share the world with your pet. 
                    Paddleboard with a corgi named Mr. Beaches. Protect 
                    African penguins. Have tea with naughty sheep. Explore 
                    more than 1,000 PetBnB Experiences with creatures of all 
                    kinds. Each one follows guidelines created with World Animal 
                    Protection</p>
            </div>
        </div>
      </div>

</section>

    <script src="script.js"></script>
</body>