*
{
margin:0;
border:0;
padding:0;
box-sizing: border-box;
}
/*NAVIGATION BAR SECTION AND FOOTER*/
#navDiv
{
  display:grid;
  grid-template-columns:10% 40% 50%;
  text-align:center;
  padding:10px 10px 0px 10px;
  background-color:white;
}

footer
{
  display:grid;
  grid-template-columns:10% 40% 50%;
  text-align:center;
  background-color:white;
  padding:10px;
}

#div1
{
  background-color:white;
  background-image:url('../IMG/pbnb.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width:70px;
  height:70px;

}

#div3
{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
}

#div3 > div
{
  padding:15px 3px 10px 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.3em;
  background-color:white;
} 

#div3 > div > a, #div4 > div > a
{
text-decoration: none;
color:rgba(163, 33, 124, 0.767);
font-weight: bold;
}

#div4
{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
}

#div4 > div
{
  padding:5px 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1em;
  background-color:white;
  text-align:right;
} 

/*footer and header uses the same media query*/

@media screen and (max-width: 415px) 
{
 
  #navDiv
  {
   display:grid;
   grid-template-columns:1fr;
   width:100%;
   text-align:center;
  }

  #div3 > div
  {
    
    background-color:rgba(163, 33, 124, 0.767);
    border-bottom:0.08em solid rgb(255, 255, 255);
    border-radius:10px;
  }

  #div3 > div > a
  {
    color:white;
  }

  #div3, #div4
  {
    display:grid;
    grid-template-columns:1fr;
    width:100%;
    
  }

  #div1
{
  background-repeat: no-repeat;
  background-size: 50%;
  width:100%;
  height:150px;
}

}

/*NAVIGATION BAR SECTION ENDS*/


/************************REGISTRATION***************************************/

#bodyForm
{
  background-color:rgba(61, 33, 163, 0.767);
  background-image:url(../IMG/pet.jpg);
}

#main_container
{
padding: auto;
display:grid;
grid-template-columns:28% 44% 28%;
}

#formTitle
{
  color: rgba(163, 33, 124, 0.767);
  text-align:center;
  font-weight: bolder;
}


input[type=text], input[type=email], input[type=password], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(163, 33, 124, 0.767);
  border-radius: 4px;
  resize: vertical;
}

#fDay,#fMonth,#fYear
{
  width: 30%;
  padding: 12px;
  border: 1px solid rgba(163, 33, 124, 0.767);
  border-radius: 4px;
  resize: vertical; 
}

input[type=submit] {
  background-color: rgba(163, 33, 124, 0.767);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width:100%;
  font-size:1.3em;
}

input[type=submit]:hover {
  background-color: rgba(163, 33, 124, 0.767);
}

.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid rgba(163, 33, 124, 0.767);
}

#dateInfo
{
  color:rgba(163, 33, 124, 0.767);
}

.col-75 {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.errors
{
  
  color:rgba(219, 12, 12, 0.733);
  text-align: center;
  font-family: helvetica;
  padding: 3px;
  border-left: solid 0.1em rgba(150, 7, 7, 0.733); 
  border-right: solid 0.08em rgba(150, 7, 7, 0.733); 
  border-radius:10px;
  
  
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 415px) {

  #bodyForm
  {
    background-color:white;
  }
  #main_container
  {
  width:100%;
  padding:0;
  margin:0;
  grid-template-columns:0% 100% 0%
  }

  #fDay,#fMonth,#fYear
  {
    width:100%;
  }

 .col-75, input[type=submit] {
    width: 100%;
    margin-top: 5px;
  }
}

/****************************************REGISTRATION***********************************^^^^*/  
/**********ROOMS LISTING***************/
*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/*----section search---------*/
#search
{
  padding:10px 10px;
}

#divSearch
{
  display:grid;
  grid-template-columns:5% 40% 55%;
}
#divS1
{
  text-align:right;
  padding-right:5px;
}

/*---------------------------------Section 1 also section 1 home---------------------*/
.img_responsive
{
  width:100%;
  height:200px;
}

.divCont
{
  padding:0;
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(59, 99, 211, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:white;
}
.column
{
  float:left;
  width:25%;
  padding: 10px; 
}

.row::after
{
content: "";
clear:both;
display:table;
}

.divCont > div{

  padding:0 3px 3px 3px;
  background-color: white;
  width:100%;
}

.divTitle > p
{
  font-family: helvetica;
  color:rgb(29, 28, 28);
  font-weight: bold;
} 

@media screen and (max-width: 768px)
{
  .column 
  {
    width: 50%;
  }
  .img_responsive
  {
    height:200px;
  }
  #divSearch
  {
    grid-template-columns:10% 90% 0%;
  }
}

@media screen and (max-width: 415px)
{
  .column 
  {
    width: 100%;
  }
  .img_responsive
  {
    height:250px;
  }
}

/**********ROOMS LISTING ENDS************/
/**********HOME ************/
#hBanner{
  margin:0;
  padding:0;
  
}
/*Banner and Search Section*/
.titles
{
  color:rgb(41, 39, 39);
  font-family:helvetica;
  font-size:1.3em;
  font-weight: bold;
  padding:0 10px;
}
#hBanner
{
  font-family:helvetica;
  font-size:1em;
  color:rgba(39, 38, 38, 0.788);
  font-weight: bold;
  background-color:rgb(66, 66, 155);
  background-image:url("../IMG/duggy.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#fContainer
{
  padding-top:3.5em;
  padding-bottom:3.5em;
  padding-left: 3.5em;
}

#hSearch{
  text-align:left;
  background-color:white;
  border-radius:2%;
  padding: 2em;
  width: 27em;
}

#hSearch > h3{
  font-family:Helvetica;
  font-weight:bolder;
  font-size:1.7em;
  color:rgba(39, 38, 38, 0.788);
}

.hCheck{
  display:grid;
  grid-template-columns:50% 50%;
 
}

.fLabel{
  width:100%;
}

.sInputs{
  width:100%;
  height: 2em;
  font-family:helvetica;
  font-size:1.2em;
  color:rgba(0, 0, 0, 0.801);
  border:groove rgb(66, 66, 155) 0.08em;
  border-radius: 5px;
}

#fSubmit{
  height:2.5em;
  background-color:rgb(70, 115, 211);
  text-decoration:bolder;
  color:white;
}

@media screen and (max-width: 415px)
{
#hBanner
{

margin:0;
padding:0px;
background-image: none;
background-color:white;
}

#fContainer
{
  padding:10px;
  margin:0;
}

#hSearch
{
  border:0.08em solid rgb(70, 115, 211);
  width:100%;
}
}
/*rooms suggestion same as the room listing*/
/*adds section*/
.s3_img_responsive
{
  width:100%;
}
.s3_divCont
{
  padding:0;
  width:100%;
}
.s3_column
{
  float:left;
  width:100%;
  padding: 10px;
}

.row3::after
{
content: "";
clear:both;
display:table;
}

.s2_divCont > div{
  padding:0;
  background-color: white;
  width:100%;
}

#s3_div2 > div >div
{
color:rgb(66, 11, 11);
font-family: Arial, Helvetica, sans-serif;
font-size:1em;
text-align:center;
}

@media screen and (max-width: 415px) 
{

  .s3_column
  {
    width:100%;
  }
}

/*More information*/
.s4_divCont
{
  padding:10px;
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(59, 99, 211, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid 0.09em rgb(70, 115, 211);
  border-radius:10px;
}
.s4_column
{
  float:left;
  width:33.33%;
  padding: 10px;
}

.row4::after
{
content: "";
clear:both;
display:table;
}

.s4_divCont > div{
  padding:0;
  background-color:white;
  width:100%;
}

.s4_divCont > div > p
{
  font-family:Arial, Helvetica, sans-serif;
  font-size:1em;
  text-align: justify;
}
.s4_divCont > div > h3
{
  font-family:Arial, Helvetica, sans-serif;
  color:rgba(163, 33, 124, 0.767);
}

@media screen and (max-width: 415px) 
{
  .s4_column{
    width:100%;
  }
}
/*videos and more info*/
#hVideo
{
  width:100%;
  height:400px;
}
.s2_divCont
{
  padding:0;
  width:100%;
}
.s2_column
{
  float:left;
  width:50%;
  padding: 10px;
}

.row2::after
{
content: "";
clear:both;
display:table;
}

.s2_divCont > div{
  padding:10px;
  background-color: white;
  width:100%;
}
#s2_divCont2 > div > p
{
  font-family:Arial, Helvetica, sans-serif;
  font-size:1em;
  text-align: justify;
}

#s2_divCont2 > div > h2
{
  font-family:Arial, Helvetica, sans-serif;
  color:rgba(163, 33, 124, 0.767);
}

@media screen and (max-width: 415px)
 {
  .s2_column{
    width:100%;
  }
   #s2_divCont2
   {
     box-shadow: 0 4px 8px 0 rgba(59, 99, 211, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border: solid 0.09em rgb(70, 115, 211);
     border-radius:10px;
     padding:3px;
    }

  }

/**********HOME ENDS************/
/**************WELCOME MESSAGE**************/
#welcome_div
{
 
  padding: 20%;
  text-align:center;
  background-color: rgb(46, 46, 156);
}

#welcome_div > p, #welcome_div > div
{
  font-family: helvetica;
  text-align:center;
  font-size: 5vh;
  color:white;
}


#ok_butt > a{
  font-family: helvetica;
  background-color: rgb(197, 44, 159);
  color:white;
  font-size: 3vh;
  padding:10px 20px;
  border-radius:10px;
}
/**************WELCOME MESSAGE END**************/