<footer>
  <div id="div6" name="div1">    
  </div>

  <div id="div5" name="div2" >
  </div>

  <div id="div4" name="div3">
        <div id="div3_1" name="div3_1">
         
        </div>
        <div id="div3_2" name="div3_2">
          
        </div>
        <div id="div3_3" name="div3_3">
          <a href = '/registration'>Contact us</a>
        </div>
        <div id="div3_4" name="div3_4">
          <a href = '/log_in'>Terms and Conditions</a>
        </div>
  </div>

</footer>