<nav id="navDiv" name="navigationDiv">
    
    <div id="div1" name="div1">    
    </div>

    <div id="div2" name="div2" >
    </div>

    <div id="div3" name="div3">
        <div id="div3_1" name="div3_1">
          <a href = '/'>Home</a>
        </div>
        <div id="div3_2" name="div3_2">
           <a href = '/roomViews/roomListing'>Room Listing</a>
           
        </div>
        <div id="div3_3" name="div3_4">
          <a href = '/userViews/registration'>Register</a>
          
        </div>
         <div id="div3_4" name="div3_4">
          <a href = '/userViews/log_in'>Log in</a>
          <br>
          <a href = '/other/notification'>notification</a>
          <br>
          <a href = '/roomViews/roomCreating'>Room Creation</a>
        </div>
    </div>
  </nav>