<h1>welcome to the temporary house</h1>
{{#if userId}}
<p>{{userId.new_userName}}</p>
<br>
<a href = '/'>Temporary home</a>          
<form method='get' action='/logout'>
    <button>Logout btn</button>
</form>
{{else}}
<p>{{userId.new_userEmail}}</p>
<a href = '/userViews/log_in'>Log in</a>
<br>
<a href = '/userViews/registration'>Register</a>
{{/if}}


<!--        
<a href = '/roomViews/roomListing'>Room Listing</a>
           
<a href = '/roomViews/roomCreating'>Room Creation</a>
 <br>
-->
        